* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header {
  width: 100%;
  height: 50px;
  background-color: #d8c9ba;
  text-align: center;
  margin-bottom: 0px;
}

header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  size: 50pt;
  color: #f3e1db;
  font-style:italic;
}

nav {
  background-color: #d8c9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a { 
color: #ffeae3;
font-size: 20px;
font-family: serif;
font-weight: bold;
display: inline-block;
width:200px;
height: 50px;
text-decoration: none;
text-align: center;
line-height: 50px;

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

nav>a:hover { 
  font-size: 134%;
  color:#5a453d;
}

footer {
  clear: both;
  background-color: #d8c9ba;
  width: 100%;
  height: 60px;
  margin-bottom: 0px;

}


.container{ 
  position: relative;
  text-align: center;
  line-height: -10px;
}


.left {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position:absolute;
  top: 20%;
  left: 16%;
  transform: translate(-50%, -50%);
}

.left:hover {
  font-size: 230%;
  color:  black;
}

.centered {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:hover {
  font-size: 230%;
  color:   black;
}

.right {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.right:hover {
  font-size: 230%;
  color:  black;
}

#clo{
  width: 33%;
  height: 575px;
  float:left;
  background-color: #a9b2a1;
}

#skin {
  width: 33.3%;
  height: 575px;
  float:left;
  background-color: #a9b2a1;
}

#jewellery {
  width: 33.3%;
  height: 575px;
  float: none;
  background-color: #a9b2a1;
}


h2 {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30pt;
}

footer>p {
  color: white; 
  text-align: center;
  line-height: 60px;
}

#romand_lipgloss{
  width: 25%;
  float: left;
}

#anua_toner {
  width: 25%;
  float: left;
}

#hoodie {
  width: 25%;
  float: left; 
}

#bracelet {
  width: 25%;
  float: none; 
}

#product {
  background-color: #d8c9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product>a { 
color: #ffeae3;
font-size: 20px;
font-family: serif;
font-weight: bold;
display: inline-block;
width:200px;
height: 50px;
text-decoration: none;
text-align: center;
line-height: 50px;

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

#product>a:hover { 
  font-size: 134%;
  color:#5a453d;
}
.clothes-box{
  display: inline-block;
  width: 20%;
}

#levis {
  width: 50px;
  height: 50px
}