* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #9fa2b2;
  width: 100%;
  height: 50px;
  background-color: #d8c9ba;
  text-align: center;
  margin-bottom: 0px;
}

header>h1  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  size: 22px;
  padding-left: 10px;
  font-style:italic;
  display: inline-block;
  line-height: 50px;
  color: #5a453d;

}

nav {
  width: 100%;
  height: 50px;
  margin: 0px;
  text-align: center;
  background-color: #d8c9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a { 
color: #ffeae3;
font-size: 18px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bolder;
display: inline-block;
width:200px;
height: 50px;
text-decoration: none;
text-align: center;
line-height: 50px;

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

nav>a:hover { 
  font-size: 134%;
  color:#5a453d;
}

nav>input {
  background-color: #d8c9ba;
  font-size: 18px;
  color: #f9eeee;
  border-style: hidden;
  margin-bottom: -0.7%;
  margin-left:50px;
  margin-right:-140px;
}

nav>input:hover {
  font-size: 120%;
  color:#5a453d ;
}

.slidebar {
  height: 25px;
  background-color: white;
  color: #7A634E;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 3px;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0px;
}

.image {
  position: relative;
  flex: 1;
  margin: 0px;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.7s;
}

.image:hover::before {
  background: rgba(216, 201, 186, 0.7);
}


.image p {
  position: relative;
  z-index: 1;
  flex: 1;
  color: #fff;
  font-size: 28px;
}

#text1 {
  color:#d8c9ba;
  background-color:#5a453d;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  height: 50px;
}

#text2 {
  color:#d8c9ba;
  background-color:#5a453d;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  float: left;
}

#producthome>img {
  float: left;
  margin: 30px;
  border: 3px solid #d8c9ba;
  width: 250px;
  height: 250px;
}


footer {
  clear: both;
  background-color: #d8c9ba;
  width: 100%;
  height: 60px;
  margin-bottom: 0px;

}


.container{ 
  position: relative;
  text-align: center;
  line-height: -10px;
}


.left {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position:absolute;
  top: 20%;
  left: 16%;
  transform: translate(-50%, -50%);
}

.left:hover {
  font-size: 230%;
  color:  black;
}

.centered {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:hover {
  font-size: 230%;
  color:   black;
}

.right {
  font-size: 25pt;
  font-weight: bold;
  color: #f9eeee;
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.right:hover {
  font-size: 230%;
  color:  black;
}

#clo{
  width: 33%;
  height: 575px;
  float:left;
  background-color: #a9b2a1;
}

#skin {
  width: 33.3%;
  height: 575px;
  float:left;
  background-color: #a9b2a1;
}

#jewellery {
  width: 33.3%;
  height: 575px;
  float: none;
  background-color: #a9b2a1;
}


h2 {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30pt;
}

footer>p {
  color: white; 
  text-align: center;
  line-height: 60px;
}

#romand_lipgloss{
  width: 25%;
  float: left;
}

#anua_toner {
  width: 25%;
  float: left;
}

#hoodie {
  width: 25%;
  float: left; 
}

#bracelet {
  width: 25%;
  float: none; 
}

#product {
  background-color: #d8c9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product>a { 
color: #ffeae3;
font-size: 20px;
font-family: serif;
font-weight: bold;
display: inline-block;
width:200px;
height: 50px;
text-decoration: none;
text-align: center;
line-height: 50px;

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

#product>a:hover { 
  font-size: 134%;
  color:#5a453d;
}
.clothes-box{
  display: inline-block;
  width: 20%;
}

#levis {
  width: 50px;
  height: 50px
}

#logo {
  width: 20px;
  height: 30px;
}