* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header {
  width: 100%;
  height: 50px;
  background-color: #d8c9ba;
  text-align: center;
  margin-bottom: 0px;
}

header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  size: 50pt;
  font-style:italic;
}

nav {
  background-color: #d8c9ba;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav>a { 
color: #ffeae3;
font-size: 20px;
font-family: serif;
display: inline-block;
width:200px;
height: 50px;
text-decoration: none;
text-align: center;
line-height: 50px;

padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

nav>a:hover { 
  font-size: 134%;
  color:#5a453d;
}

footer {
  clear: both;
  background-color: #d8c9ba;
  width: 100%;
  height: 60px;
  margin-bottom: 0px;

}


#clo{
    width: 33%;
    height: 575px;
    float:left;
    background-color: #a9b2a1;
}
#skin {
    width: 33.3%;
    height: 575px;
    float:left;
    background-color: #a9b2a1;
}

#jewellery {
    width: 33.3%;
    height: 575px;
    float: none;
    background-color: #a9b2a1;
}

footer>p {
  color: white; 
  text-align: center;
  line-height: 60px;
}

#romand_lipgloss{
  width: 25%;
  float: left;
}


#anua_toner {
  width: 25%;
  float: left;
}

#hoodie {
  width: 25%;
  float: left; 
}

#bracelet {
  width: 25%;
  float: none; 
}